# Telegram bot settings
BOT_TOKEN=TOKEN
BOT_DEBUG=false

# Cache settings (minutes)
CACHE_DEFAULT_EXPIRATION=5
CACHE_CLEANUP_INTERVAL=10

# http.Client Proxy
SOCKS5_PROXY=

# Database Settings
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres
DB_SSLM=disable

# Vk API Settings
VKAPI_TOKEN=TOKEN